* {
  margin: 0;
  padding: 0;
}

.banner {
  width: 100%;
  padding: 30px 70px;
  color: darkblue;
}

body {
  background-color: lightyellow;
  font-family: sans-serif;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menulist {
  padding: 30px;
}

.menu {
  width: 20%;
  overflow: hidden;
  border-radius: 2%;
  background-color: white;
  border: 1px solid lightgray;
}

.menuname {
  color: gray;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.pic img {
  width: 100%;
}

.searchbar {
  height: 30px;
  width: 300px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
}

.searchbar input {
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
}

button {
  padding: 0.25rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: darkblue;
}
