* {
  margin: 0;
  padding: 0;
}

.banner {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  color: darkblue;
}

body {
  background-color: lightyellow;
  font-family: sans-serif;
}

.recipes {
  width: 100%;
}

.menulist {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  gap: 45px;
}

.menulist a {
  max-width: 20%;
}

.menu {
  flex: 0 0 20%;
  overflow: hidden;
  border-radius: 2%;
  background-color: white;
  border: 1px solid lightgray;
}

.menuname {
  color: gray;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.pic img {
  width: 100%;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar {
  height: 30px;
  width: 300px;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 5px;
  overflow: hidden;
}

.searchbar input {
  width: 100%;
  outline: none;
  border: none;
  background-color: white;
}

button {
  padding: 0.25rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: darkblue;
}

.fullinfo {
  flex: 0 0 25%;
  border-radius: 5%;
  overflow: hidden;
  background-color: white;
  border: 1px solid lightgray;
}

.detail {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullpic img {
  width: 100%;
}

.ingredients {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 35px;
}

.ingredients h5 {
  font-size: larger;
  margin-bottom: 5px;
}

.ingredients h6 {
  font-size: medium;
  margin-bottom: 10px;
}
.ingredients p {
  font-size: smaller;
}
